<%- include ('head') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <div class="container-fluid">
      <div class="d-flex flex-lg-row justify-content-between align-items-center w-100">
        <!-- Title aligned to the right on large screens and centered on small screens -->
        <h2 class="mb-2 d-flex align-items-end"><a href="/users/pending" class="w-25">
            <img src="/logos/logo-text-seniorlove.webp" alt="" class="w-100 pe-2">
          </a><span class="fs-6">| Administrateur</span></h2>
        <div class="d-flex flex-column flex-lg-row gap-6 align-items-center">
          <!-- Logout link with no underline and gray color -->
          <button type="button" class="btn btn-outline-danger"
            onclick="window.location.href='/logout' ">Déconnexion</button>
        </div>
      </div>
    </div>
  </nav>